/* sections */

.zoro-section-gap {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* header */
.zoro-header {
  box-shadow: var(--shadow-white-3);
}
.header-wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 12px 0;
}

.nav-pills .nav-link {
  margin: 0.5rem 1rem;
  padding: 0;
}

.nav-pills .nav-link {
  background: 0;
  border: 0;
  border-radius: 0.25rem;
}

.mainmenu-nav .primary-menu li a {
  color: var(--color-lightn);
  position: relative;
  transition: var(--transition);
  font-size: 13px;
  font-weight: var(--s-regular);
  text-transform: uppercase;
  font-family: var(--font-secondary);
}

#sideNav .primary-menu li a {
  color: var(--color-body-white);
  font-weight: 600;
}

.zoro-header .header-right a.zoro-btn {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
}

.header {
  padding: 20px;
  background-color: var(--color-body);
}

nav {
  gap: 20px;
}

nav a {
  font-size: var(--font-size-b1);
  text-decoration: none;
}

/* hero section */

.hero-section {
  padding: 120px 100px;
  gap: 100px;
}

.container-left {
  gap: 20px;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 70px;
}

.subtitle {
  color: var(--color-body-white);
  font-size: var(--font-size-b3);
  line-height: var(--line-height-b3);
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-size: var(--h1);
  color: var(--color-heading-wv);
}

.title span:nth-child(1) {
  color: var(--color-primary);
}

.description {
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: var(--color-body);
  padding-right: 16%;
  opacity: 0.9;
}

.social-icon-area {
  gap: 200px;
}
.social-left {
  gap: 20px;
  padding-top: 15px;
}

.social-icon {
  list-style: none;
  text-align: left;
  padding: 15px 20px;
  position: relative;
  border-radius: 10px;
  background: var(--gradient-box-w);
  color: var(--color-body-white);
  box-shadow: var(--shadow-white-3);
  position: relative;
  z-index: 1;
  height: 100%;
  transition: 0.5s all ease-in-out;
  display: inline-block;
}

.mouse-hover:hover {
  background-color: rgb(252, 89, 139);
  transform: translateY(-1px);
}

.container-right {
  width: 40%;
  padding-bottom: 100px;
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  border-radius: 10px;
}

.container-right img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin: -100px;
}

/* -----------Feature Area-------- */
.feature-card-section {
  gap: 30px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-icon {
  font-size: 30px;
  color: rgb(252, 89, 139);
}

.feature-title {
  font-size: 24px;
}

/* =============== BLOG AREA ========== */
.zoro-portfolio,
.zoro-blog {
  text-align: left;
  padding: 30px;
  position: relative;
  border-radius: 20px;
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  z-index: 1;
  height: 100%;
  transition: 0.5s all ease-in-out;
  display: inline-block;
}

.zoro-portfolio .inner .thumbnail a,
.zoro-blog .inner .thumbnail a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.zoro-portfolio .inner .thumbnail a img,
.zoro-blog .inner .thumbnail a img {
  width: 100%;
  transition: var(--transition);
  height: auto;
  object-fit: cover;
}

.zoro-portfolio .inner .thumbnail a video,
.zoro-blog .inner .thumbnail a video {
  border-radius: 10px;
  height: 100%;
  transition: var(--transition);
  object-fit: cover;
  width: 100%;
}

.zoro-portfolio .inner .content,
.zoro-blog .inner .content {
  padding-top: 18px;
}

.zoro-portfolio .inner .content .category-info,
.zoro-blog .inner .content .category-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.zoro-portfolio .inner .content .category-info .category-list,
.zoro-blog .inner .content .category-info .category-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.zoro-portfolio .inner .content .category-info .category-list a,
.zoro-blog .inner .content .category-info .category-list a {
  color: var(--color-primary);
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}

.zoro-portfolio .inner .content .category-info .meta span,
.zoro-blog .inner .content .category-info .meta span {
  color: var(--color-lightn);
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 13px;
}

.zoro-portfolio .inner .content .category-info .meta span i,
.zoro-blog .inner .content .category-info .meta span i,
.zoro-portfolio .inner .content .category-info .meta span a i,
.zoro-blog .inner .content .category-info .meta span a i {
  margin-right: 2px;
  font-size: 13px;
  transition: var(--transition);
}

.zoro-portfolio .inner .content .title,
.zoro-blog .inner .content .title {
  margin: 0;
}

.zoro-portfolio .inner .content .title a,
.zoro-blog .inner .content .title a {
  transition: var(--transition);
  color: var(--color-heading-wv);
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  display: inline-block;
}

.zoro-portfolio .inner .content .title a i,
.zoro-blog .inner .content .title a i {
  font-size: 0;
  position: relative;
  top: 10px;
  transition: var(--transition);
  opacity: 0;
}

/* Hover states */
.zoro-portfolio .inner .content .title:hover a,
.zoro-blog .inner .content .title:hover a {
  color: var(--color-primary);
}

.zoro-portfolio .inner .content .title:hover a i,
.zoro-blog .inner .content .title:hover a i {
  color: var(--color-primary);
  top: 3px;
  opacity: 1;
  font-size: 23px;
}

/* Before pseudo-element */
.zoro-portfolio::before,
.zoro-blog::before {
  content: "";
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: white;
  opacity: 0;
  z-index: -1;
}

/* Hover states */
.zoro-portfolio:hover::before,
.zoro-blog:hover::before {
  opacity: 1;
}

.zoro-portfolio:hover .thumbnail a img,
.zoro-blog:hover .thumbnail a img,
.zoro-portfolio:hover video,
.zoro-blog:hover video {
  transform: scale(1.1);
}

.zoro-blog-list,
.zoro-portfolio-list {
  padding-bottom: 50px;
  gap: 32px;
  padding-top: 50px;
}

.zoro-portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Responsive media queries manually extracted */
@media (max-width: 991px) {
  .zoro-portfolio,
  .zoro-blog {
    padding: 30px;
  }

  .zoro-portfolio .inner .thumbnail a img,
  .zoro-blog .inner .thumbnail a img {
    height: inherit;
  }
}

@media (max-width: 575px) {
  .zoro-portfolio,
  .zoro-blog {
    padding: 20px;
  }

  .zoro-portfolio .inner .content .title a,
  .zoro-blog .inner .content .title a {
    font-size: 20px;
    line-height: 30px;
  }

  .zoro-portfolio .inner .thumbnail a,
  .zoro-blog .inner .thumbnail a {
    display: inline-flex;
  }
}

/* Margin-top classes */
@media (max-width: 768px) {
  .mt_dec-sm--60 {
    margin-top: -30px;
  }
}

@media (max-width: 575px) {
  .mt_dec-sm--60 {
    margin-top: -40px;
  }

  .zoro-portfolio-list {
    grid-template-columns: 1fr;
    padding: 12px;
  }
}

/*  ============= contact style ============== */

.contact-inner-wrap {
  display: flex;
  gap: 32px;
  margin-top: 50px;
}

.contact-about-area .thumbnail {
  margin-bottom: 28px;
  overflow: hidden;
  border-radius: 10px;
}

.contact-about-area {
  width: 40%;
}

.contact-about-form {
  width: 60%;
}

.contact-about-area .title-area {
  margin-bottom: 15px;
}

.contact-about-area .title-area h4.title {
  font-size: 29px;
  line-height: 44px;
  color: var(--color-light);
  margin-bottom: 9px;
}

.contact-about-area .title-area h4.title {
  color: var(--color-heading-wv);
}

.contact-about-area .social-area .social-icone {
  margin-top: 24px;
}

.contact-about-area .thumbnail img {
  width: 100%;
  height: auto;
  transition: var(--transition);
}

a {
  color: var(--color-heading);
  text-decoration: none;
  outline: none;
}

.contact-about-area .social-area .social-icone a {
  width: 61px;
  height: 61px;
  line-height: 57px;
  margin-right: 15px;
  box-shadow: var(--shadow-1);
  border-radius: 6px;
  transition: var(--transition);
  display: inline-block;
  text-align: center;
}

.contact-about-area .social-area .social-icone a {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
}

svg:not(:root) {
  overflow: hidden;
}

.contact-about-area .social-area .social-icone a svg {
  stroke-width: 2;
  width: 20px;
  color: var(--color-lightn);
  transition: var(--transition);
}

.contact-about-area .social-area .social-icone a svg {
  color: var(--color-body-white);
}

.form-group {
  margin-bottom: 20px;
}

.contact-form-wrapper input {
  background-color: #191b1e;
  border-radius: 6px;
  height: 55px;
  transition: var(--transition);
  border: 2px solid #191b1e;
  padding: 0 15px;
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-lightn);
  box-shadow: var(--inner-shadow);
  letter-spacing: 1px;
}

.contact-form-wrapper .introduce input {
  width: 100%;
}

.contact-form-wrapper input {
  background: #fdfefe;
  border: 2px solid #dadada;
  box-shadow: none;
  color: var(--color-body-white);
}

.contact-form-wrapper input {
  background-color: #fdfefe;
  border: 2px solid #dadada;
  font-family: var(--font-secondary);
  color: var(--color-body-white);
  box-shadow: none;
}

.contact-form-wrapper textarea {
  min-height: 235px;
  background-color: #191b1e;
  border-radius: 6px;
  padding: 0;
  transition: var(--transition);
  border: 2px solid #191b1e;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-secondary);
  color: var(--color-lightn);
  box-shadow: var(--inner-shadow);
  letter-spacing: 1px;
  resize: none;
}

.contact-form-wrapper textarea {
  background: #fdfefe;
  border: 2px solid #dadada;
  box-shadow: none;
  color: var(--color-body-white);
  width: 100%;
}

.contact-form-wrapper textarea {
  background: #fdfefe;
  border: 2px solid #dadada;
  font-family: var(--font-secondary);
  color: var(--color-body-white);
  box-shadow: none;
}

a.zoro-btn,
button.zoro-btn,
a.zoro-btn,
button.zoro-btn {
  display: inline-block;
  padding: 15px 35px;
  list-style: none;
  text-decoration: none;
  color: var(--color-primary);
}

a.zoro-btn,
button.zoro-btn,
a.zoro-btn,
button.zoro.btn {
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 500;
  border: 0 none;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

a.zoro-btn:hover,
button.zoro-btn {
  color: var(--color-white);
}

.contact-form-wrapper .zoro-btn {
  background: var(--color-primary);
  box-shadow: var(--shadow-white-3);
  color: var(--color-white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-wrapper .zoro-btn:hover {
  color: var(--color-white);
  box-shadow: var(--shadow-white-3);
  background-color: var(--color-primary) !important;
}

/* client section */

.brand,
.awesome-col-left,
.awesome-menu-item {
  border-radius: 10px;
}

.awesome-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  justify-content: start;
}

.awesome-col-left {
  grid-column: span 2;
  position: sticky;
  top: 16px;
  max-height: fit-content;
}

.awesome-col-right {
  grid-column: span 3;
}

.awesome-main .client-name {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awesome-main .client-name a {
  color: var(--color-body-white);
  text-align: center;
}

.brand .thumbnail {
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.brand .thumbnail img {
  max-height: 90px;
}

.brand-footer {
  border-top: 1px solid #dce1e4;
}

.awesome-main .active {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  color: var(--color-primary);
}

.awesome-menu {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  border-radius: 10px;
}

.awesome-menu-item {
  padding: 30px;
}

.awesome-menu-item span {
  text-align: center;
}

.awesome-group {
  display: flex;
  gap: 32px;
}

.awesome-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.awesome-group.hidden {
  display: none;
}

/* ========================= RESUME SECTION START ====================  */

.zoro-resume-area .zoro-tabs {
  border-radius: 10px;  
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
}

.zoro-resume-area .zoro-resume-tab {
  padding: 30px;
}

.zoro-resume-area .zoro-resume-tab:first-child {
  border-radius: 10px 0px 0px 10px;
}

.zoro-resume-area .zoro-resume-tab:last-child {
  border-radius: 0px 10px 10px 0px;
}

.zoro-resume-area .zoro-resume-tab.active {
  border-radius: 10px;
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
}

.zoro-resume-area .experience-list {
  border-left: 5px solid #d9dee2;
}

.experience-list {
  padding-left: 31px;
}

.experience-list .resume-single-list .inner .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1a1d23;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.zoro-resume-area .experience-list .resume-single-list {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
}

.experience-list .resume-single-list {
  position: relative;
  z-index: 2;
  margin-top: 50px;
  padding: 45px 40px;
  border-radius: 6px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}

.experience-list .resume-single-list .inner .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1a1d23;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.zoro-resume-area .experience-list .resume-single-list .heading {
  border-bottom: 1px solid #e3e9ed;
}

.experience-list .resume-single-list .inner .heading .date-of-time {
  display: inline-block;
}

.experience-list .resume-single-list .inner .heading .date-of-time span {
  color: var(--color-primary);
  display: block;
  font-size: 14px;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  font-weight: 500;
}

.zoro-resume-area
  .experience-list
  .resume-single-list
  .heading
  .date-of-time
  span {
  background: var(--color-white);
  box-shadow: var(--shadow-white-3);
}

.zoro-resume-area
  .experience-list
  .resume-single-list
  .inner
  .heading
  .title
  h4 {
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 7px;
  font-weight: 500;
  transition: var(--transition);
  color: var(--color-heading-wv);
}

.zoro-resume-area
  .experience-list
  .resume-single-list
  .inner
  .heading
  .title
  span {
  color: #7c838e;
  display: block;
  font-size: 14px;
}

/* hover states */

.experience-list .resume-single-list::before {
  content: "";
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: var(--color-primary);
  opacity: 0;
  z-index: -1;
}

.experience-list .resume-single-list::before,
.experience-list .resume-single-list > * {
  color: white;
}

.experience-list .resume-single-list:hover::before {
  opacity: 1;
}

.zoro-resume-area .experience-list .resume-single-list::before {
  background: var(--gradient-red-hover);
}

.zoro-resume-area .experience-list .resume-single-list:hover .heading {
  border-bottom: 1px solid rgb(206, 110, 110);
}

.zoro-resume-area
  .experience-list
  .resume-single-list:hover
  .heading
  .title
  h4 {
  color: var(--color-white);
}
.zoro-resume-area
  .experience-list
  .resume-single-list:hover
  .heading
  .title
  span {
  color: var(--color-white);
}
.zoro-resume-area
  .experience-list
  .resume-single-list:hover
  .heading
  .date-of-time
  span {
  box-shadow: none;
  background: #fe024e;
  color: var(--color-white);
}

.zoro-resume-area .experience-list .resume-single-list:hover .inner p {
  color: var(--color-white);
}

.zoro-resume-area .experience-list .resume-single-list .inner::after {
  border: 5px solid #d9dee2;
  background: #ecf0f3;
}

.zoro-resume-area .experience-list .resume-single-list:hover .inner::after {
  background: var(--color-primary);
}

.experience-list .resume-single-list .inner::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 5px solid #17191c;
  border-radius: 100%;
  right: 104%;
  top: 55px;
  transform: translateY(-7px);
  background: #222529;
  transition: var(--transition);
}

.experience-list .resume-single-list .inner::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 5px;
  right: 100%;
  top: 63px;
  transform: translateY(-7px);
  background: #1b1c1d;
  z-index: 0;
}

.zoro-resume-area .experience-list .resume-single-list .inner::before {
  background: #d9dee2;
}

/* ========================= RESUME SECTION END ====================  */

/* ===================== RESPONSIVE CHIDIYA ================== */

@media (max-width: 450px) {
  .hero-section {
    padding: 12px;
  }

  /* blogs section */

  .zoro-blog-area {
    padding: 12px;
  }

  .zoro-blog-list {
    flex-direction: column;
  }

  .awesome-main {
    padding: 12px;
  }

  .awesome-main .awesome-col-left,
  .awesome-main .awesome-col-right {
    grid-column: span 5;
    position: static;
  }

  .awesome-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .contact-inner-wrap {
    flex-direction: column;
    padding: 12px;
  }

  .contact-inner-wrap .contact-about-area,
  .contact-inner-wrap .contact-about-form {
    width: 100%;
  }
}
